.mymodal {
  position: fixed;
  top: 3%;
  left: 20%;
  /* transform: translate(-50%, -50%); */
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  width: 60%;
  max-height: 100vh;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

/**
* border-radius
*/

.btn,
.logo,
.form-control,
.card,
.list-group {
  border-radius: 0px;
}

/**
* put logo text vertical center
*/

.logo h2 {
  margin-top: -3px;
}

@media only screen and (max-width: 600px) {
  .logo h2 {
    margin-top: 30px;
  }
}

/**
*   logo animation
*/

.logo {
  width: 30wh;
  height: 30vh;
  color: #fff;
  background-image: url("https://ak.picdn.net/shutterstock/videos/6345773/thumb/10.jpg");
}

.card {
  background-color: #262626;
}

.card-header {
  color: whitesmoke;
}

.g-font {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

.list-group-item {
  background-color: lightyellow;
}
